<h2> Listing Users </h2>

<table> 
  <thead>
    <tr>
      <th style="width:200px;"> Username </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.username %> </td>
        <td> <%= link_to 'Show', user %> </td>
      </tr>
    <% end %>
  </tbody>
<table>
<br/>
<%= link_to 'New User', new_user_path %>

