.navbar-header {
  font-size: 18px;
  margin-top: 11px;
}
.navbar-right{
  float: right !important;
}

#errors, .error {
  color: #ff0000; 
}
.alert{
  position: fixed;
  top: 20px;
  left: 35%;
  z-index: 9999;
  width: 300px;
}